.contact-area{
    padding-top: 1rem;
    /*text-align: center;*/
    width: 35rem;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #2b90d9;
    padding-bottom: 1rem;
    
    
}

.text-area{
    border-radius: 9px;
    width: 30rem;
}
.button-submit {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 8rem;
    background:#39a8f1;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:200;
  }
  .button-submit:hover { background:#94d8ec; }

  .about-img{
      width: 20rem;
      height: 20rem;
      border: 2px solid;
      border-color: #64abdd;
      border-radius: 8px;
  }
  .progress{
      margin-top: 3 rem;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .head-1 {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
    
    /*background: #333;*/
    padding: 30px;
  }
  

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .head-2 {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromTop;
    
    /*background: #333;*/
    padding: 30px;
  }
